body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb;
}

.app-btn {
  padding: 0.25rem 0.75rem;

}

.app-form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-weight: bold;
    margin-bottom: 0.25rem;
  }

  input {
    border-radius: 2px;
    padding: 0.5rem;
    border-width: 1px;
  }
}

.app-form-errors {
  color: #ae1d1d;
  padding: 0 0 1rem 1rem;
  margin: 0;
}